*{
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  width:'100%';
  height: '100vh';
  display: 'flex';
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.GridNavBar{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 8vh;
}

a{
  text-decoration: none;
  transition: 0.3s;
}

a:hover{
  opacity: 0.7;
}

.ListNavBar{
  list-style: none;
  display: flex;
}

.ItemNavBar{
  letter-spacing: 3px;
  margin-left: 32px;
}

.ButtonNavBar{
  left: 850px;
  font-size: 18px;
  font-weight: 600;
  border-radius: 12px;
  border: 0;
  padding: 10px 20px;
  cursor: pointer;
}

.GridHeader{
  padding: 250px 0 190px;
}

@keyframes typingHeader{
  from{
    width: 0;
  }
  to{
    width: 12em;
  }
}

@keyframes blinkCursorHeader{
  from{
    border-right: rgba(255, 255, 255, 0.75);
  }
  to{
    border-right-color: transparent;
  }
}

.typing-animation-Header{
  animation: blinkCursorHeader 700ms infinite normal steps(50), 
  typingHeader 5s steps(50) normal both;
}

.HeaderTitle{
  border-right: 2px solid rgba(255, 255, 255, 0.75);
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 570%;
  height: 100px;
  margin: 0 auto;
  white-space: nowrap;
  overflow: hidden;
}

@keyframes typingSubHeader{
  from{
    width: 0;
  }
  to{
    width: 14em;
  }
}

.typing-animation-SubHeader{
    animation: blinkCursorHeader 700ms infinite normal steps(50), 
    typingSubHeader 5s steps(50) normal both;
}

.HeaderSubTitle{
  border-right: 2px solid rgba(255, 255, 255, 0.75);
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 350%;
  height: 70px;
  margin: 0 auto;
  white-space: nowrap;
  overflow: hidden;
}

.HeaderText{
  font-size: 175%;
  font-family: 'Courier New', Courier, monospace;
  padding: 70px;
}

.BioGrid{
  padding: 250px 40px 190px;
}

.BioTitle{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 500%;
  letter-spacing: 3px;
}

.BioText{
  font-family: 'Courier New', Courier, monospace;
  font-size: 150%;
  padding: 50px;
  transform: translate(-900px);
  opacity: 0;
}

.GridProj{
  padding: 250px 0 190px; 
}

.TitleProj{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 500%;
  letter-spacing: 3px;
}

.CardProj_Grid{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 97px;
}

.CardProj{
  width: 400px;
  height: 400px;
  background-color: var(--soft-white);
  color: var(--gray);
  border-radius: 8px;
  box-shadow: 5px 5px 10px #22222270;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.CardProj h3{
  font-size: 150%;
  font-family: 'Courier New', Courier, monospace;
}

.CardProj img{
  width: 400px;
  object-fit: cover;
}

.CardProj_Footer{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.CardProj_Icons {
  display: flex;
  gap: 10px;
  color: var(--red);
  font-size: 1.5rem;
}

.CardProj_Button{
  width: 50px;
  border-radius: 8px;
  font-size: 100%;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding: 5px 0 5px;  
}

.CardProj_Button:hover{
  background-color: #9575CD;
}


.GridSkills{
  padding: 250px 40px 190px;
}

.TitleSkills{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 500%;
  letter-spacing: 3px;  
}

.ListSkills{
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 200px;
  row-gap: 100px;
  padding: 85px 180px;
}

.ImgSkill{
  width: 220px;
}
