body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width:'100%';
  height: '100vh';
  display: 'flex';
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.GridHeader{
  text-align: center;
  margin-top: 147px;
}

@keyframes typingHeader{
  from{
    width: 0;
  }
  to{
    width: 12em;
  }
}

@keyframes blinkCursorHeader{
  from{
    border-right: rgba(255, 255, 255, 0.75);
  }
  to{
    border-right-color: transparent;
  }
}

.typing-animation-Header{
  animation: blinkCursorHeader 700ms infinite normal steps(50), 
  typingHeader 5s steps(50) normal both;
}

.HeaderTitle{
  border-right: 2px solid rgba(255, 255, 255, 0.75);
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 570%;
  height: 100px;
  margin: 0 auto;
  white-space: nowrap;
  overflow: hidden;
}

@keyframes typingSubHeader{
  from{
    width: 0;
  }
  to{
    width: 14em;
  }
}

.typing-animation-SubHeader{
    animation: blinkCursorHeader 700ms infinite normal steps(50), 
    typingSubHeader 5s steps(50) normal both;
}

.HeaderSubTitle{
  border-right: 2px solid rgba(255, 255, 255, 0.75);
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 350%;
  height: 70px;
  margin: 0 auto;
  white-space: nowrap;
  overflow: hidden;
}

.HeaderText{
  font-size: 175%;
  font-family: 'Courier New', Courier, monospace;
}

.BioGrid{
  margin-top: 147px;
  text-align: center;
}

.BioTitle{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 500%;
}

.BioText{
  font-family: 'Courier New', Courier, monospace;
  font-size: 150%;
}

.GridExp{
  text-align: center;
  margin-top: 147px;
}

.TitleExp{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 500%;
}

.ImagemList{
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.ImagemExp{
  width: 365px;
  height: 385px;
  justify-content: space-between;
}

.ImagemTitle{
  font-family: 'Courier New', Courier, monospace;
  font-size: 250%;
  white-space: wrap;
}
